.modalCharacter {
    text-align: center;
    color: black !important;
    width: 100%;
}

.modalCharacter .modalActions {
    text-align: right;
}

.modalCharacter .form-control {
    width: 90%;
    margin: auto;
}

.header {
    margin-right: 20px;
    color: black !important;
}

.description {
    resize: none;
}

.transitionEnter {
    transform: scale(0);
}
.transitionEnterActive {
    transform: scale(1);
    transition: transform 1000ms ease;
}
.transitionExit {
    transform: scale(1);
}
.transitionExitActive {
    transform: scale(0);
    transition: transform 1000ms ease;
}

.modal {
    border-radius: 80%;
}